[Unit]
Description=hybris
After=network.target

[Service]
WorkingDirectory=
Type=oneshot
ExecStart=
ExecStop=
RemainAfterExit=yes
User=hybris
Group=hybris

[Install]
WantedBy=multi-user.target